@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../assets/fonts/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf") format("truetype");
}

html,
body,
button,
input,
textarea,
select {
  font-family: "Geologica", sans-serif;
}
