.strommen-theme-d5 {
  color: #f2f2f2 !important;
  background-color: #1f1f1f !important;
}

.strommen-theme-d4 {
  color: #f2f2f2 !important;
  background-color: #242424 !important;
}

.strommen-theme-d3 {
  color: #f2f2f2 !important;
  background-color: #444444 !important;
}
