.strommen-black
{color:#C8BDC0;background-color:#080709}
.strommen-light
{color:#080709;background-color:#C8BDC0}
.strommen-dark
{color:#C8BDC0;background-color:#062E30}
.strommen-green
{color:#C8BDC0;background-color:#235259}
.strommen-blue
{color:#C8BDC0;background-color:#189584}