.strommen-black
{color:#F2F7F2;background-color:#36393B}
.strommen-white
{color:#36393B;background-color:#F2F7F2}
.strommen-blue
{color:#F2F7F2;background-color:#5386E4}
.strommen-green
{color:#F2F7F2;background-color:#758E4F}
.strommen-orange
{color:#F2F7F2;background-color:#AF551D}